<nav class="flex flex-col p-4 space-y-3 bg-gray-800 h-full text-gray-300">
    <div class="flex items-center justify-center mb-4">
        <img src="assets/icons/gixat-logow.png" alt="Logo" class="w-24 h-auto"><span class="text-white p-2">
        </span>
    </div>
    <a routerLink="/app" (click)="onMenuItemClick()"
        class="flex items-center gap-2 px-3 py-2 rounded-md text-gray-300 hover:text-white hover:bg-blue-600 transition-all">
        <span class="material-icons">dashboard</span> Dashboard
    </a>
    <a routerLink="clients" (click)="onMenuItemClick()"
        class="flex items-center gap-2 px-3 py-2 rounded-md text-gray-300 hover:text-white hover:bg-blue-600 transition-all">
        <span class="material-icons">leaderboard</span> Clients
    </a>
    <a routerLink="cars" (click)="onMenuItemClick()"
        class="flex items-center gap-2 px-3 py-2 rounded-md text-gray-300 hover:text-white hover:bg-blue-600 transition-all">
        <span class="material-icons">directions_car</span> Cars
    </a>
    <a routerLink="inventory" (click)="onMenuItemClick()"
        class="flex items-center gap-2 px-3 py-2 rounded-md text-gray-300 hover:text-white hover:bg-blue-600 transition-all">
        <span class="material-icons">inventory</span> Inventory
    </a>
    <a (click)="logout()"
        class="flex items-center gap-2 px-3 py-2 rounded-md text-gray-300 hover:text-white hover:bg-red-600 transition-all cursor-pointer">
        <span class="material-icons">logout</span> Logout
    </a>
</nav>