    <mat-sidenav-container class="h-screen">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen"
        style="border-radius: 0;  width: 256px;">
        <app-navbar (menuItemClicked)="toggleSidebar()"></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content class="flex flex-col h-full  " style="border-radius: 0; ">
        <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
        <div class="px-4 ">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>